## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
mauro=175
print(mauro)

175

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(mauro))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
mauroVariable="mauro"
print(mauroVariable)

mauro

5) Mostrar el tipo de dato de la variable crada en el punto 4

In [7]:
print(type(mauroVariable))

<class 'str'>

6) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
numero = 3.14159265358979323846
numero_redondeado = round(numero, 4)
print(numero_redondeado)

3.1416

7) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
variable1=True
variable2="True"
print(variable1 == variable2)

False

8) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [15]:
print(type(variable1))
print(type(variable2))

<class 'bool'>
<class 'str'>

9) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
suma = 2 + 8.3
print(suma)

10.3

9) Realizar una operación de suma de números complejos

In [18]:
print(2 + 3j)

(2+3j)

10) Realizar una operación de multiplicación

In [19]:
2*9

18

11) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
2**8

256

12) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [10]:
res = 27/4
print(res)

6.75

13) De la división anterior solamente mostrar la parte entera

In [23]:
int(res)

6

14) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
27%4

3

15) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 13 y 14. Obtener 27 como resultado

In [26]:
4*int(res)+3

27

16) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [27]:
3j + 1j

4j

17) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
"2" == 2

False

18) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 17 resulte verdadera

In [37]:
"2" == str(2)

True

19) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [40]:
a = float('38')
#no se puede convertir un string a float

20) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [1]:
variableParaTres = 3
variableParaTres -= 1
print(variableParaTres) #mauro

2

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [16]:
b1 = 'vale Char'
b2 = 2
print(b1 * b2 + str(b2) + ' veces')

vale Charvale Char2 veces

22) Realizar una operación válida entre valores de tipo entero y string

In [49]:
str(2) + '2'
2 + int("2")

4